.containerHome{
    width:100%;
    padding: 0 0.5rem;
}

.hero{
    width: 100%;
    border-radius: 10px;
    background-color: #6895D2;
    height:30rem;
    margin-top: 1rem;

    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2px;
}

.left{
    border:2px;
    border-color: black;
    border-width:2px;
    width:40%;
    height: 80%;
}

.right{
    border:1px-solid-black;
}